<% if obj.errors.any? %>
  <div class="container">
    <div class="row center sign-up-form">
      <div class="cols12 m12 l12">
        <div class="card-panel red darken-1">
          <span class="white-text">
            <%= pluralize(obj.errors.count, "errors") %>
              prohibated from creating your profile!
            <ul>
              <% obj.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>